{%  extends "base.html" %}

{%  block titel %} <title>Omas Rezepte</title> {%  endblock %}

{% block name %}
<h1>Sellerisalat</h1>
{% endblock %}

{% block zutaten %}
<ul>
    <li>halber Kopf Selleri</li>
    <li>zwei bis drei Karotten</li>
    <li>drei handvoll Walnüsse</li>
    <li>Yogurt</li>
    <li>Mayo</li>
    <li>Dill, zerrieben</li>
    <li>eine Zehe Knoblauch</li>
    <li>halbe Zitrone</li>
</ul>
{% endblock %}

{% block zubereitung %}
    <p>
    Selleri und Karotten zerreiben. Walnüsse zerkleinern und in Pfanne anrösten.
    Soße zubereiten mit Jogurt, Dill und im Mörser zerriebenem Knoblauch.
    Anschließend die Soße mit etwas Mayo und Zitronensaft abschmecken. <br>
    Soße mit Selleri, Karotten und Walnüssen gut vermischen, sodass eine zusammenhängende Masse entsteht.<br>
    Guten Appetit!
    </p>
{% endblock %}