{% extends 'home.html' %}

{% block titel %}Computerspiel hinzufügen{% endblock %}

{% block eingeloggt_inhalt %}
<h2>Computerspiel hinzufügen</h2>
    <form method="POST">
        {% csrf_token %}
        <!-- {{ form.as_table }} -->
        <!-- {{ form.as_p }} form.as_p und form.as_table sind django funktionalitäten für das komplette darstellen -->

        <!-- manuell jedes einzeln: -->
        <p>Spielname: {{ form.name }}</p>
        <p>Beschreibung: {{ form.beschreibung }}</p>
        <p>Entwickler: {{ form.developer_studio }}</p>

        <label for="id_genre">Genre:</label>
        <select id="id_genre" type="text" name="genre">
            <option value="RPG">Role Playing Game</option>
            <option value="FPS">First Person Shooter</option>
            <option value="FG">Fighting Game</option>
            <option value="RG">Racing Game</option>
            <option value="TD">Tower Defense</option>
            <option value="SIM">Simulation</option>
        </select><br><br>

        {{ form.fsk.label }} : {{ form.fsk }}  <!-- sehr kurze schreibweise. Macht alles automatisch aus forms (input type, name etc)-->
        {{ form.date_released.label }} : {{ form.date_released }}

        <button type="submit">Spiel hinzufügen</button>
    </form>
{% endblock %}

{% block nicht_eingeloggt_inhalt %}
    <p>Du mussst dich einloggen um Spiele hinzuzufügen/p>
    <a href="{% url 'login' %}">Login</a>
{% endblock %}